<div class="center-container mt-2 search-color animate__animated animate__fadeInLeft">
    <form>
        <div class="form-group">
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Search by id">
        </div>
        <br>
        <div class="form-group">
            <select class="form-control">
                <option>Default select</option>
              </select>
        </div>
        <br>
        <div>
            <button type="submit" class="btn btn-primary btn-lg btn-block">Block level button</button>
        </div>
       
      </form>
</div>
