<div class="search-container">
    <div class="form-container">
        <div class="row">
            <!--Left column-->
            <div class="col-7">
                <div class="left-container">
                    <h1 class="text-center text-light">{{tittle}}</h1>
                    <hr> <br>
                    <div *ngFor="let option of menu">
                        <div class="row">
                            <button type="button" class="btn btn-secondary btn-lg btn-block" (click)="navigate(option)">{{option}}</button>
                        </div>
                        <br>
                    </div>

                </div>
            </div>
           <!--Rigth column-->
            <div class="col-5">
                <div class="right-container"></div>
            </div>
         
        </div>
    </div>
</div>

