<div class="container" *ngIf="!isLoading">
   <div *ngIf="showToggle">
      <app-search (searchEmitter)="emitSearch($event)" (close)="toggle()"></app-search>
   </div>

   <div *ngIf="!showToggle">
      <div class="toggle-button mt-2">
         <button type="button" class="btn btn-success" (click)="toggle()"> 
            <fa-icon [icon]="searchIcon"></fa-icon>
         </button>
      </div>
   </div>

  <div class="row">
     <div class="col-lg-3 col-md-4" *ngFor="let item of items">
        <app-card [showDescription]="showDescription" [item]="item"></app-card>
        <br>
     </div>
  </div>
</div>
<div *ngIf="isLoading">
   <app-loading></app-loading>
</div>
