img
    width: 100%
    height: 100%

.text-decription
  overflow: auto 
  width: 285px 
  height: 150px

.tittle-container
  height: 80px
  width: 100%

.img-wrapper
  margin-bottom: 5px
  width: 100%
  height: 250px

.characters
  background-color: #757E89

.comics
  background-color: #778975

.creators
  background-color: #857589

.series
  background-color: #906060

.events
  background-color: #91794E

.default
  background-color: #9D9D9D
