<div class="card" [ngClass]="cardStyle" >
  <div class="img-wrapper">
    <img class="card-img-top" [src]="item.img" alt="Card image cap">
  </div>
    <div class="card-body">
      <div class="tittle-container">
        <h4 class="card-title">{{item.title}}</h4>
        <span>id: {{item.id}}</span>
      </div>
      <hr>
      <div *ngIf="showDescription"class="text-decription">
        <p class="card-text">{{item.description}}</p>
      </div>
      <div *ngIf="item.oficialLink !== ''">
        <a [href]="item.oficialLink" class="btn btn-primary">Go to the official page</a>
      </div>
    </div>
</div>
