<div class="close-button">
  <button class="btn btn-danger" (click)=onClose()>
    <fa-icon [icon]="closeIcon"></fa-icon>
  </button>
</div>
<div [ngClass]="{'animate__animated animate__backOutLeft': !keepOpen}">
  <div class="center-container mt-1 search-color animate__animated animate__fadeInLeft">
    <form class="mt-2">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="id" name="id" required [(ngModel)]="searchModel.id">
      </div>
      <br>
      <div class="form-group">
        <select class="form-control" [(ngModel)]="searchModel.itemType" name="itemType">
            <option *ngFor="let item of itemTypes">{{item}}</option>
        </select>
      </div>
      <br>
      <div>
        <button type="submit" class="btn btn-primary btn-lg btn-block" (click)="onSearch()">Search</button>
      </div>
    </form>
    <div class="form-group">
      <input #searchInput
             type="text"
             class="form-control" 
             placeholder="search">
    </div>
    <br>
  </div>
</div>